/ConsoleSolution/LogParserProject/bin/Debug/log.txt
/WinFormsSolution/GZipProject/bin/Debug/GZipFileExample.gz
/WinFormsSolution/GZipProject/bin/Debug/GZipFileExample.txt
/ConsoleSolution/GZipProject/bin/Debug/GZipFileExample.gz
/ConsoleSolution/GZipProject/bin/Debug/GZipFileExample.txt
